.dropdown__container {
  display: inline-block;
  text-align: start;
  appearance: none;
  -webkit-rtl-ordering: logical;
  cursor: pointer;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: rgb(118, 118, 118);
  border-radius: 4px;
  font-size: inherit;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-rendering: auto;

  outline: none; /* Tar bort fokusmarkering */

  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  position: relative;
  z-index: 1000;

  .options {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(0);
    transition:
      opacity 0.2s ease-in-out,
      transform 0.3s ease-in-out;
    /*  */
    width: 200px;
    height: 30px;
    transform: translateY(0);
    .foldOut {
      display: flex;
      flex-direction: column;
      background: hsl(0 0% 10% / 1);
      border: 2px solid black;
    }
  }
  .foldOutButton {
    /* position: absolute;
      left: 110px;
      top: -10px; */
    width: 20px;
    cursor: pointer;
  }
}
.invisible {
  opacity: 0;
  transform: translateY(-10px);

  visibility: hidden;
  position: absolute;
}
